body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	width: 100vw;
	display:flex;
	justify-content: center;
	top:10%;
	margin:auto;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
	transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.container .next-button,
.container .prev-button {
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	width:50px;
	height:100px;
	position:absolute;
	top: 250px;
	border: none;
	border-radius: 50px 50px 50px 50px;
	
}

.container.fullScreen .next-button,
.container.fullScreen .prev-button {
	visibility: hidden;
}

.container .next-button.button-hover,
.container .prev-button.button-hover {
	background-image: url('../image/chevron-left.png');
	background-color: gray;
	box-shadow: 3px 3px 15px #333;
}

.container .prev-button {
	left: -35px;
}

.container .next-button{
	right: -35px;
	transform: rotate(180deg);
}

.hide {
	visibility: hidden;
}

.fullScreenBtn {
	position: absolute;
	top: 45%;
	left: 42%;
	background-color: dimgray;
	color: beige;
	font-size: 25px;
	padding: 20px;
	border-radius: 25px;
}

.container .fullScreenBtn::after {
	content: 'Full screen';
}

.container.fullScreen .fullScreenBtn {
	top: 85%;
	background-color: beige;
	color: dimgray;
}

.container.fullScreen .fullScreenBtn::after {
	content: 'exit full screen';
}

.fullScreenBtn:hover {
	background-color: black;
	color: dimgray;
	box-shadow: 3px 3px 15px #333;
}
